body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
html{
    scroll-behavior: smooth;
}

h1 {
    color: #333;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.active{
    color:beige;

}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #f8f8f8;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: black; /* Pôvodná farba */
    font-size: 24px; /* Veľkosť ikon */
    transition: color 0.3s ease; /* Plynulý prechod farby */
}

/* Farba pri hoveri */
.nav-links a:hover {
    color: red; /* Nová farba pri hoveri */
}

/* Rovnako to funguje aj pre ikony vo vnútri odkazu */
.nav-links i {
    font-size: 24px;
    transition: color 0.3s ease;
}

/* Farba pri hoveri ikony */
.nav-links a:hover i {
    color: red; /* Zmena farby ikony pri hover */
}


header {
    width: 100vw;
    height: 100vh;
    background-image: url("images/pinch-pot-mug-1024x536.jpeg");
    background-position: center;
    background-size: 60% 40%;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content:  center;
}
.header-content{
    margin-bottom: 150px;
    color:navy;
    text-align: center;
}

.header-content h2{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;

}

.line{
    width: 150px;
}

.header-content h2{
    font-size: 4vmin;
}

/* moze nemusi byt */
/* .ctn{
    padding: 8px 15px;
    background:navy;
    border-radius: 30px;
    color:whitesmoke;
} */


/* mobile device */
@media only screen and (max-width:850px){
    .navbar{
        padding: 0;
    }
    .logo{
        position:absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
    }
}

#kategorie{
    padding: 50px 20px;
    text-align: center;
    background: bisque;
}

.kategorie{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.kategorie img{
    width: 200px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
}

.kategorie img:hover{
    transform: scale(1.1);
}